# Сборочные артефакты (скачиваются/копируются при сборке ISO)
/archiso-vibelinux/airootfs/root/dmed/*
!/archiso-vibelinux/airootfs/root/dmed/dmed.png
/archiso-vibelinux/airootfs/root/dmsh/*.pkg.tar.zst
/archiso-vibelinux/airootfs/root/aur-cache/
/archiso-vibelinux/airootfs/root/koda/
/archiso-vibelinux/airootfs/opt/
/archiso-vibelinux-minimal/airootfs/root/dmsh/
/archiso-vibelinux-minimal/airootfs/usr/
/out/
/scripts/legacy/build/
.qwen/